extends layout

block content
  h1 Register Page
  br
  form(role='form', action="/register", method="post", style='max-width: 300px;')
    .form-group
      input.form-control(type='text', name="username", placeholder='Enter Username', required ='true')
    .form-group
      input.form-control(type='password', name="password", placeholder='Password', required ='true')
    .form-group
      input.form-control(type='text', name="phone", placeholder='Phone number', required ='true')
    if errors
      for each in errors
        p.error #{each.msg}  
    button.btn.btn-default(type='submit') Submit
    &nbsp;
    a(href='/')
      button.btn.btn-primary(type="button") Cancel