<h1 ng-show="house.address">Delete a House</h1>
<br>

<div ng-show="!house.address">
<p>This house doesn't exist or you already deleted the house. Please go back.</p>
<input type="button" class="btn btn-primary" value="Back" ng-click="back()"></input>
</div>

<div ng-show="house.address">
<p>
    Are you sure you want to delete this house?
</p>
<ul>
    <li>Address: {{house.address}}</li>
    <li>City: {{house.city}}
    <li>State: {{house.state}}</li>
</ul>
<input type="button" value="Yes, Delete" class="btn btn-danger" ng-click="delete()" />
<input type="button" value="No, Go back" class="btn btn-default" ng-click="back()" />
</div>