<h1>
    {{house.address}}, {{house.city}}
    <input type="button" value="Add Favorite" class="btn btn-danger" ng-click="add()" ng-if="isFavi == false"></input>
    <input type="button" value="Remove Favorite" class="btn btn-default" ng-click="remove()" ng-if="isFavi == true"></input>
    <!-- <input type="button" class="btn btn-danger" value="Edit" ng-click="edithouse()"></input>
    <input type="button" class="btn btn-danger" value="Delete" ng-click="deletehouse()"></input> -->
</h1>
<div class="row">
    <div class="col-md-6">
        <a href="images/{{house._id}}/0.jpg" class="thumbnail" >
            <img src="images/{{house._id}}/0.jpg" alt="photo0" onerror="this.onerror=null; this.src='images/default.jpg'"/>
        </a>
    </div>
</div>
<h3>
    $ {{house.price}}
    <input type="button" value="Contact Seller" class="btn btn-primary" ng-click="contact()" />
</h3>
<h4>{{house.beds}} beds, {{house.baths}} baths, {{house.area}} sqft</h4>
<br>

<h2>More Photos</h2>
<div class="row">
    <div class="col-md-3">
        <a href="images/{{house._id}}/1.jpg" class="thumbnail">
            <img src="images/{{house._id}}/1.jpg" alt="photo1" onerror="this.onerror=null; this.src='images/default.jpg'"/>
        </a>
    </div>
    <div class="col-md-3">
        <a href="images/{{house._id}}/2.jpg" class="thumbnail">
            <img src="images/{{house._id}}/2.jpg" alt="photo2" onerror="this.onerror=null; this.src='images/default.jpg'"/>
        </a>
    </div>
    <div class="col-md-3">
        <a href="images/{{house._id}}/3.jpg" class="thumbnail">
            <img src="images/{{house._id}}/3.jpg" alt="photo3" onerror="this.onerror=null; this.src='images/default.jpg'"/>
        </a>
    </div>
</div>